// COLORS
$primary-color: #1d7eba;
$secondary-color: #1d2240;

$white-color: #fff;

$dark-grey: #1d2240;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
